.profile-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 880px;
  margin: 0 auto 51px;
}

@media screen and (max-width: 1280px) {
  .profile-columns {
    padding-left: 27px;
    padding-right: 27px;
  }
}

@media screen and (max-width: 690px) {
  .profile-columns {
    flex-direction: column;
    align-items: center;
    margin-bottom: 36px;
  }
}