.footer {
  display: flex;
  margin: 67px auto 0;
  max-width: 880px;
  padding-bottom: 60px;
}

@media screen and (max-width: 1280px) {
  .footer {
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 36px;
  }
}