.element__delete-button {
    position: absolute;
    top: 24px;
    right: 16px;
    width: 18px;
    height: 19px;
    background: url(../../../images/Trash.svg);
    border: none;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.element__delete-button:hover {
    opacity: 0.5;
  }