@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/logo/logo.css);
@import url(./blocks/profile-columns/profile-columns.css);
@import url(./blocks/profile-columns/__add-button/profile-columns__add-button.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__header/profile__header.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__edit-icon/profile__edit-icon.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/element/element.css);
@import url(./blocks/element/__photo/element__photo.css);
@import url(./blocks/element/__label/element__label.css);
@import url(./blocks/element/__title/element__title.css);
@import url(./blocks/element/__like-button/element__like-button.css);
@import url(./blocks/element/__delete-button/element__delete-button.css);
@import url(./blocks/element/__like-button/_active/element__like-button_active.css);
@import url(./blocks/element/__like-counter/element__like-counter.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__placeholder/popup__placeholder.css);
@import url(./blocks/popup/__text/popup__text.css);
@import url(./blocks/popup/__placeholder/_type/popup__placeholder_type_error.css);
@import url(./blocks/popup/__save-button/popup__save-button.css);
@import url(./blocks/popup/__wrap/popup__wrap.css);
@import url(./blocks/popup/__photo/popup__photo.css);
@import url(./blocks/popup/__title-image/popup__title-image.css);
@import url(./blocks/popup/__placeholder-error/popup__placeholder-error.css);
@import url(./blocks/popup/__placeholder-error/_active/popup__placeholder-error_active.css);
@import url(./blocks/popup/__form-field/popup__form-field.css);
@import url(./blocks/popup/__save-button/_inactive/popup__save-button_inactive.css);
@import url(./blocks/popup/__confirm-button/popup__confirm-button.css);
@import url(./blocks/element/__delete-button/_visible/element__delete-button_visible.css);
@import url(./blocks/element/__delete-button/_hidden/element__delete-button_hidden.css);